html{
    background-color: darkcyan;
}

div{
    text-align: center;

}

img{
    width: 100%;
    height: 70%;
    border: 5px solid white;
    margin-top: 10px;
}

h1{
    color: indigo;
    font-family:"Libre Baskerville", serif;
    text-transform: capitalize;
}

